h1 {
    color: red;
}

ul {
    color: red;
}
ol {
    color: red;
}
h2 {
    color: blue;
}

h2 {
    color: blue;
}
h3 {
    color: pink;
}
body {background: space grey;
  }
  img {width: 600px
  }